* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

/* Start header */
header {
  background-color: #fff;
  display: grid;
  align-items: center;
  box-shadow: 0 3px 9px rgb(0 0 0 / 5%);
  transition: all 0.5s ease 0s;
  height: 90px;
  position: relative;
}

.navbar {
  padding: 0;
}

.navbar .navbar-brand {
  color: #189a46;
  font-size: 34px;
  font-weight: 600;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
}

.navbar .navbar-nav .nav-item {
  padding: 0 10px;
}

header .navbar .navbar-nav .nav-item a {
  color: black;
  position: relative;
  transition: all 0.5s;
}

header .navbar .navbar-nav .nav-item .nav-link:hover {
  color: #189a46 !important;
}

header .navbar .navbar-nav .nav-item.active a {
  color: #189a46;
}

.navbar-expand-lg .navbar-nav .nav-link {
  transition: 0.5s;
  padding: 14px 0;
  position: relative;
  font-size: 19px;
  font-weight: 400;
}

header .navbar-nav a.nav-link::before,
header .navbar-nav a.dropdown-item::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 0px;
  background: #189a46;
  bottom: 13px;
  transition: all 0.5s;
}

header .navbar-nav .nav-item:hover::before,
header .navbar-nav .nav-item .nav-link:hover::before,
header .navbar-nav a.dropdown-item:hover:before {
  width: 100%;
}

.dropdown-menu {
  border-radius: 10px;
  min-width: 13rem;
  border: 1px solid #ddd;
  padding: 16px 0 5px;
}

a.dropdown-item {
  font-weight: 400;
  font-size: 19px;
  padding-bottom: 14px;
  padding-top: 0;
  /* width: 100px; */
  position: relative;
  display: block;
  color: black;
}

header .navbar-nav a.dropdown-item:hover {
  color: #189a46 !important;
}

.dropdown-item:hover {
  background-color: transparent;
}

header .navbar-expand-lg .navbar-nav .nav-item .dropdown-menu::before {
  content: "";
  width: 14px;
  height: 14px;
  background: #fff;
  border: 1px solid #ddd;
  position: absolute;
  top: -7px;
  left: 49%;
  border-bottom: none;
  border-right: none;
  display: block;
  transform: translateX(-50%) rotateZ(45deg);
}

.navbar-nav .dropdown-menu {
  transform: translateX(-40px);
}

.fixed-top {
  position: fixed;
  top: 40px;
  right: 0;
  left: 0;
}

header.nav-fixed {
  padding: 0;
  background-color: #fff;
  height: 80px;
  border-bottom: none;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
}

.theme-container {
  width: 24px;
  height: 24px;
  padding: 3px 0;
  margin-left: 20px;
}

.theme-container i {
  font-size: 20px;
}

/* Light theme */
#switchButton {
  background-color: white;
  transition: all 0.5s;
}

#switchButton .fa-sun {
  display: block;
}

#switchButton .fa-moon {
  display: none;
}

.text-white {
  color: #ddd !important;
}

/* Dark Theme*/
.dark #switchButton {
  background-color: #151515;
}

.dark #switchButton .fa-sun {
  display: none;
}

.dark #switchButton .fa-moon {
  display: block;
  color: white;
}

.dark {
  background-color: #151515 !important;
}

.dark2 {
  background-color: #222 !important;
}

.theme-width {
  width: 60px;
}

.navbar-expand-lg .navbar-nav .nav-item .dropdown-menu.dark {
  border: 1px solid #333;
}

.navbar-expand-lg .navbar-nav .nav-item .dropdown-menu.dark::before {
  border: 1px solid #333;
  background-color: #151515;
  border-bottom: none;
  border-right: none;
}

button.navbar-toggler .icon-close {
  display: block;
}

button.navbar-toggler .icon-expand {
  display: none;
}

button.navbar-toggler.collapsed .icon-close {
  display: none;
}

button.navbar-toggler.collapsed .icon-expand {
  display: block;
}

.navbar-toggler-icon {
  background-image: none;
  padding: 0;
  width: 34px;
  height: 34px;
  line-height: 34px !important;
  display: inline-block;
  background: #189a46;
  border-radius: 4px;
  text-align: center;
}

.navbar-toggler-icon.fa {
  color: #fff;
  background-color: #189a46;
  border-radius: 5px;
}

/* End header */

/* Start Slider */
.slider {
  transition: all 0.5s;
  position: relative;
}

.slider_info {
  z-index: 10;
}

.slider_img {
  height: calc(100vh - 40px);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  object-fit: cover;
  position: relative;
  display: grid;
  align-items: center;
}

.img_slider_1 {
  background-image: url(/img/banner1.jpg);
}

.img_slider_2 {
  background-image: url(/img/banner2.jpg);
}

.img_slider_3 {
  background-image: url(/img/banner3.jpg);
}

.img_slider_4 {
  background-image: url(/img/banner4.jpg);
}

.slider_img::before {
  content: "";
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  background-color: #0c0c0c;
  opacity: 0.6;
  z-index: 1;
}

.slider_content {
  max-width: 700px;
}

.slider_content h5 {
  color: #fff;
  font-size: 66px;
  font-weight: 700;
}

.slider_content p {
  color: #fff;
  font-weight: 400;
  font-size: 19px;
}

.slider_button {
  color: #189a46;
  background: #fff;
  padding: 10px 35px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 800;
  border: 2px solid transparent;
  margin-right: 10px;
}

.slider_button:hover {
  color: #189a46;
}

.slider_button2 {
  border: 2px solid #fff;
  color: #fff;
  background: transparent;
  border-radius: 10px;
  padding: 10px 35px;
  font-size: 18px;
  font-weight: 800;
  border: 2px solid #fff;
  transition: all 0.5s;
}

.slider_button2:hover.active {
  color: #189a46;
  background: #fff;
}

.slider_owl {
  position: relative;
}

.owl-dots {
  display: block;
  padding: 1px 6px;
  position: absolute;
  top: 90%;
  left: 45%;
  z-index: 2;
}

.owl-dot span {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
}

.owl-dot.active span,
.owl-dot:hover span {
  background-color: #189a46 !important;
  padding: 5px 15px;
}

.owl-theme .owl-dots .owl-dot {
  outline: none;
}

/* End Slider */

/* Start About */
.about {
  transition: all 0.5s;
}

.about_content {
  margin: 0 auto;
  width: 700px;
}

.about_content .sub_title {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #f53626;
  line-height: 20px;
}

.about_content h3 {
  font-size: 40px;
  font-weight: 600;
}

.about_content .text {
  color: #696969;
  font-size: 19px;
  line-height: 28px;
  overflow: hidden;
}

.btn_read {
  color: #0c0c0c;
  font-size: 17px;
  border-bottom: 2px solid #189a46;
  font-weight: 600;
  margin-top: 20px;
  text-transform: capitalize;
  transition: all 0.3s;
  display: inline-block;
}

.btn_read:hover {
  text-decoration: none;
  color: #189a46 !important;
}

/* End About */

/* Start Pet Service */
.pet-service {
  background-color: #f9f7fe;
  transition: all 0.5s;
}

.pet-service_item {
  background-color: #fff;
  padding: 40px 30px;
  margin-bottom: 30px;
  border-radius: 10px;
  transition: all 0.5s;
}

.pet-service_item i {
  color: #189a46;
  font-size: 30px;
}

.pet-service_item h4 {
  font-size: 24px;
  font-weight: 600;
  margin: 25px 0 15px 0;
  display: block;
  color: #0c0c0c;
  transition: all 0.5s;
}

.pet-service_item h4:hover {
  color: #189a46;
  cursor: pointer;
}

.pet-service_item p {
  font-size: 19px;
  font-weight: 400;
  color: #696969;
  line-height: 28px;
}

.pet-service_box:hover .pet-service_item {
  background-color: #f3effd;
}

.pet-service_box:hover .pet-service_item.dark {
  background-color: #222 !important;
}

.pet-service_item h4:hover.text-white {
  color: #189a46 !important;
}

/* End pet-service */

/* start service  */
.img-fluid {
  max-width: 100%;
  height: auto;
}

.services .services-text {
  align-self: center;
}

.col-lg-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.services-image img {
  border-radius: 10px;
}

.sub-title {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 2em;
  letter-spacing: 1px;
  color: #f53626;
}


.services .services-text p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24.5px;
  color: var(--para-color);
  margin: 15px 0 35px 0;
}

.services .services-text ul li {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: var(--heading-color);
  margin: 15px 0;
  font-weight: 600;
}

.services .cont-4 li {
  display: block;
}

.services .cont-4 li span {
  color: #189a46;
  margin-right: 12px;
  font-size: 10px;
  padding: 8px;
  border-radius: 50%;
  display: inline-block;
}

.services .cout-4 li {
  border-radius: 50%;
  background: rgb(147 107 232 / 5%);
}

.services ul.cont-4 li span.fa {
  color: var(--primary-color);
  margin-right: 12px;
  background: var(--bg-light);
  font-size: 10px;
  padding: 8px;
  border-radius: 50%;
  display: inline-block;
}

/* end service  */
/* start number */
.number {
  padding: 80px 120px;
  background-color: #189a46;
  color: #fff;
}

.number__container {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.number__item h3 {
  padding-bottom: 10px;
  font-size: 50px;
  font-weight: 700;
}

.number__item p {
  font-size: 20px;
  line-height: 25px;
  text-transform: capitalize;
  color: #fff;
  margin-top: 10px;
  opacity: 0.8;
  font-weight: 400;
}

/* end number */

/* start plans */
.w3l-pricing-7-main {
  background-color: rgb(249, 247, 254);
}

.w3l-pricing-7-main h6 {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 10px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 600;
}

.hny-title {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  text-transform: capitalize;
}

.w3l-pricing-7-main .pricing-sec-7 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 5% auto;
  margin-top: 0;
  width: 90%;
}



.w3l-pricing-7-main .pric-7-1 .w3l-pricing-7 {
  padding: 3.5em 2.5em;
  border-right: 0;
}

.w3l-pricing-7-top {
  text-align: center;
}



.w3l-pricing-7-main h4 {
  font-size: 40px;
  line-height: 45px;
  margin: 15px 0 20px;
  text-align: center;
  font-weight: 600;
  color: #189a46;
}

.w3l-pricing-7-main h4 label {
  font-size: 25px;
  vertical-align: text-top;
}

.w3l-pricing-7-main h4 span {
  font-size: 16px;
  line-height: 25px;
  color: #999;
  font-weight: 400;
}

.w3l-pricing-7-bottom {
  text-align: center;
  padding-top: 1em;
}

.w3l-pricing-7-main ul.links {
  min-height: 120px;
}

.w3l-pricing-7-main ul.links li {
  list-style: none;
  margin-bottom: 5px;
  color: #304659;
}

.w3l-pricing-7-main p.lists {
  font-size: 18px;
  line-height: 28px;
  font-weight: normal;
  align-self: center;
  padding-top: 6px;
}

.w3l-pricing-7-main .buy-button {
  margin-top: 2em;
}


.w3l-pricing-7-main .pricing-gd-left.active {
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -o-transform: scale(1.03);
  -ms-transform: scale(1.03);
  z-index: 1;
  margin: 0;
  box-shadow: 0 10px 30px 0 rgba(17, 17, 17, 0.09);
  border-radius: 6px;
}

.pricing-gd-left.pric-7.active .w3l-pricing-7-top {
  padding: 3em 2.5em 0.5em;
  background: #189a46;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.w3l-pricing-7-main h5 {
  font-size: 15px;
  line-height: 20px;
  color: #189a46;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: 700;
  display: inline-block;
  padding: 8px 20px;
  background: #fff;
  border-radius: 10px;
}

.w3l-pricing-7-main .pricing-gd-left.active h6,
.w3l-pricing-7-main .pricing-gd-left.active h4 {
  color: #fff;
}

.pricing-gd-left.active h4 {
  color: #fff;
}

.w3l-pricing-7-main h4 label {
  font-size: 25px;
  vertical-align: text-top;
}

.w3l-pricing-7-main .pricing-gd-left.active h4 span {
  color: #eee;
}

.pricing-gd-left.pric-7.active .w3l-pricing-7-bottom {
  padding: 2em 2.5em 3.5em;
}

.w3l-pricing-7-main ul.links {
  min-height: 120px;
}

.w3l-pricing-7-main ul.links li {
  list-style: none;
  margin-bottom: 5px;
  color: #304659;
}


.w3l-pricing-7-main .buy-button {
  margin-top: 2em;
}

.pricing-gd-left.pric-7.active .btn-style {
  color: #fff;

}

.w3l-pricing-7-main .pricing-gd-left {
  background-color: #fff;
  border-radius: 6px;
  align-self: center;
}

.w3l-pricing-7-main .pric-7-2 .w3l-pricing-7 {
  padding: 3.5em 2.5em;
  border-left: 0;
}



.btn-style {
  padding: 12px 35px;
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 400;
  transition: 0.3s ease-in;
  background-color: #189a46;
  border-radius: 10px;
  border-color: #116E32;
}

.buy-button a {
  text-decoration: none;

}

.btn-primary {
  border-color: #116E32;
}

.btn-primary:hover {
  color: #fff;
  background-color: #116E32;
  border-color: #116E32;
}

/* end plans */
/* --------------------------------------------------------*/
/* Start Feature */
.feature {
  background-color: #f9f7fe;
  transition: all 0.5s;
}



.feature_item {
  background-color: #fff;
  padding: 40px 30px;
  margin-bottom: 30px;
  border-radius: 10px;
  transition: all 0.5s;
}

.feature_item i {
  color: #189a46;
  font-size: 30px;
}

.feature_item h4 {
  font-size: 24px;
  font-weight: 600;
  margin: 25px 0 15px 0;
  display: block;
  color: #0c0c0c;
  transition: all 0.5s;
}

.feature_item h4:hover {
  color: #189a46;
  cursor: pointer;
}

.feature_item p {
  font-size: 19px;
  font-weight: 400;
  color: #696969;
  line-height: 28px;
}

.feature_box:hover .feature_item {
  background-color: #f3effd;
}

.feature_box:hover .feature_item.dark {
  background-color: #222 !important;
}

.feature_item h4:hover.text-white {
  color: #189a46 !important;
}

/* End Feature */

/* start video */
.w3l-index5 {
  background: #fff;
}

.w3l-index5 .new-block {
  display: grid;
  align-items: center;
  padding: 2rem 0;
}

.w3l-index5 .middle-section {
  max-width: 950px;
  margin: 0 auto;
}

.sub-title {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 2em;
  letter-spacing: 1px;
  color: var(--secondary);
}

.hny-title {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  text-transform: capitalize;
}

.position-relative {
  position: relative !important;
}

.radius-image {
  border-radius: var(--border-radius);
}

.w3l-index5 .play-view {
  left: 0;
  right: 0;
  top: calc(50% - 40px);
}

.w3l-index5 span.video-play-icon {
  background: #fff;
  display: inline-block;
  width: 55px;
  height: 55px;
  line-height: 55px;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
  -webkit-animation: ripple 1s linear infinite;
  animation: ripple 1s linear infinite;
}

.w3l-index5 span.fa.fa-play {
  line-height: 55px;
}

.w3l-index5 span.video-play-icon span {
  color: #116E32;
}

div#small-dialog iframe {
  width: 100%;
  height: 400px;
  display: block;
}

/* end video */

/* modal */
.modal-dialog {
  max-width: 800px;
  margin: 30px auto;
}

.modal-body {
  position: relative;
  padding: 0px;
}

.close {
  position: absolute;
  right: -30px;
  top: 0;
  z-index: 999;
  font-size: 2rem;
  font-weight: normal;
  color: #fff;
  opacity: 1;
}


/* Start client */
.sub-title {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 2em;
  letter-spacing: 1px;
  color: #f53626;
}

.hny-title {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  text-transform: capitalize;
}

.w3l-clients .testimonial {
  display: block;
  margin: 0;
  padding: 40px 30px;
  position: relative;
  background: var(--bg-color);
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  border: none;
  box-shadow: 0 25px 98px 0 rgb(19 19 19 / 3%);
}

.w3l-clients .testimonial {
  position: relative;
  overflow: hidden;
  text-align: left;
}

.w3l-clients .testimonial blockquote {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  position: relative;
  margin-bottom: 1.5em;
}

blockquote {
  margin: 0 0 1rem;
}

.w3l-clients .testimonial .peopl h3 {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
}

.text-center {
  text-align: center !important;
}

.w3l-clients .testi-des {
  display: flex;
  text-align: center;
}

.w3l-clients .testimonial img {
  width: 80px;
  min-height: 80px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

body img {
  border-radius: 50%;
  -weebkit-border-radius: 10px;
  -o-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
}

img {
  vertical-align: middle;
  border-style: none;
}

/* Start contact */
.w3l-bottom form.subscribe-wthree input[type="email"] {
  font-size: 16px;
  color: var(--title-color);
  border-radius: 10px;
  padding: 0px 20px;
  height: 60px;
  flex-basis: 70%;
  background: #fff;
  height: 60px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 20px;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* start footer */
.w3l-footer {
  background-color: #0c0c0c;
}

.w3l-footer h6.footer-title-28 {
  color: #fff;
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
  margin-bottom: 25px;
}

.w3l-footer .footer-list-28 ul li a,
.w3l-footer .footer-list-28 ul li p {
  font-weight: normal;
  font-size: 16px;
  color: #696969;
  line-height: 28px;
}

.w3l-footer .footer-list-28 ul li,
.w3l-footer .midd-footer-28:nth-child(1) .footer-list-28 ul li:last-child {
  list-style: none;
  margin-bottom: 5px;
}

.w3l-footer .footer-list-28 ul li a:hover {
  text-decoration: underline;
  color: #fff;
}

.w3l-footer .footer-list-28 ul li a,
.w3l-footer .footer-list-28 ul li p {
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
}

a,
a:hover {
  text-decoration: none;
  color: #189a46;
}

.w3l-footer ul.social-icons {
  margin-top: 3px;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.fa {
  display: inline;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.w3l-footer .footer-list-28 ul li,
.w3l-footer .midd-footer-28:nth-child(1) .footer-list-28 ul li:last-child {
  list-style: none;
  display: inline;
  margin-bottom: 5px;
}

.w3l-footer #movetop {
  display: none;
  position: fixed;
  bottom: 90px;
  right: 15px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  width: 48px;
  height: 48px;
  background: #189a46;
  padding: 0;
  line-height: 36px;
  border-radius: 50px;
  transition: 0.3s ease-out;
}

/* Start client */
.sub-title {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 2em;
  letter-spacing: 1px;
  color: #f53626;
}

.hny-title {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  text-transform: capitalize;
}

.w3l-clients .testimonial {
  display: block;
  margin: 0;
  padding: 40px 30px;
  position: relative;
  background: var(--bg-color);
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  border: none;
  box-shadow: 0 25px 98px 0 rgb(19 19 19 / 3%);
}

.w3l-clients .testimonial {
  position: relative;
  overflow: hidden;
  text-align: left;
}

.w3l-clients .testimonial blockquote {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  position: relative;
  margin-bottom: 1.5em;
}

blockquote {
  margin: 0 0 1rem;
}

.w3l-clients .testimonial .peopl h3 {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
}

.text-center {
  text-align: center !important;
}

.w3l-clients .testi-des {
  display: flex;
  text-align: center;
}

.w3l-clients .testimonial img {
  width: 80px;
  min-height: 80px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

body img {
  border-radius: 50%;
  -weebkit-border-radius: 10px;
  -o-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
}

img {
  vertical-align: middle;
  border-style: none;
}

/* Start contact */
.w3l-bottom form.subscribe-wthree input[type="email"] {
  font-size: 16px;
  color: var(--title-color);
  border-radius: 10px;
  padding: 0px 20px;
  height: 60px;
  flex-basis: 70%;
  background: #fff;
  height: 60px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 20px;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* start footer */
.w3l-footer {
  background-color: #0c0c0c;
}

.w3l-footer h6.footer-title-28 {
  color: #fff;
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
  margin-bottom: 25px;
}

.w3l-footer .footer-list-28 ul li a,
.w3l-footer .footer-list-28 ul li p {
  font-weight: normal;
  font-size: 16px;
  color: #696969;
  line-height: 28px;
}

.w3l-footer .footer-list-28 ul li,
.w3l-footer .midd-footer-28:nth-child(1) .footer-list-28 ul li:last-child {
  list-style: none;
  margin-bottom: 5px;
}

.w3l-footer .footer-list-28 ul li a:hover {
  text-decoration: underline;
  color: #fff;
}

.w3l-footer .footer-list-28 ul li a,
.w3l-footer .footer-list-28 ul li p {
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
}

a,
a:hover {
  text-decoration: none;
  color: #189a46;
}

.w3l-footer ul.social-icons {
  margin-top: 3px;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.fa {
  display: inline;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.w3l-footer .footer-list-28 ul li,
.w3l-footer .midd-footer-28:nth-child(1) .footer-list-28 ul li:last-child {
  list-style: none;
  display: inline;
  margin-bottom: 5px;
}

.w3l-footer #movetop {
  display: none;
  position: fixed;
  bottom: 90px;
  right: 15px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  width: 48px;
  height: 48px;
  background: #189a46;
  padding: 0;
  line-height: 36px;
  border-radius: 50px;
  transition: 0.3s ease-out;
}

/* REPONSIVE */

@media screen and (max-width: 1200px) {
  .slider_content h5 {
    font-size: 52px;
  }
}

@media screen and (max-width: 1070px) {
  .slider_content p {
    font-size: 15px;
  }
}

@media screen and (max-width: 991.98px) {
  .navbar-nav {
    width: 100%;
    display: flex;
    flex-direction: column !important;
    text-align: center;
    padding: 20px;
  }

  .navbar-toggler {
    padding: 0 !important;
  }

  .navbar-nav .dropdown-menu {
    transform: translateX(-2px);
    border: 1px solid #ddd;
    position: static !important;
    float: none;
    text-align: center;
  }

  header .navbar-nav a.nav-link::before,
  header .navbar-nav a.dropdown-item::before {
    content: none;
  }

  .theme {
    position: absolute;
    right: 70px;
    top: -5px;
  }

  header {
    height: auto;
    padding: 5px 0;
  }

  header.nav-fixed {
    height: auto;
    padding: 10px 0;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 5px 0;
  }

  .slider_content h5 {
    font-size: 50px;
  }

  .slider_content p {
    font-size: 15px;
  }
}

@media screen and (max-width: 870px) {
  .slider_img {
    height: 580px;
  }
}

@media screen and (max-width: 767.98px) {
  .about_content {
    width: auto;
  }


  .about_content .main_title {
    font-size: 35px !important;
  }
}

@media screen and (max-width: 565px) {


  .slider_container_2 {
    width: 100%;
  }
}

@media screen and (max-width: 460px) {
  .slider_img {
    height: 460px;
  }

  .slider_content h5 {
    font-size: 32px;
  }

  .slider_content p {
    font-size: 16px;
  }


  .slider_content a {
    padding: 12px 30px;
  }

  .owl-dots {
    left: 35%;
  }

  .navbar .navbar-brand {
    font-size: 30px !important;
  }

  .theme-container {
    margin-left: 0 !important;
  }

  .theme-width {
    width: 20px;
  }
}